
  <h1>Good Goods</h1>
  <h2>The World's Preeminent Market for Buying and Selling Goods</h2>

    <section>
        <div class="row">
            <div class="item">

            </div>
            <div class="item">

            </div>
        </div>
        <div class="row">
            <div class= "item">
            </div>
            <div class= "item">
        </div>
    </section>
      </style>
  </head>
  <body>
