<html>
  <h1>Good Goods</h1>
  <h2>The World's Preeminent Market for Buying and Selling Goods</h2>
  <meta charset="utf-8">


    <title></title>
    <style media="screen">

      </style>
  </head>
  <body>
      <section>
          <div class="row">
              <div class="row3">
                  <div class="button">
                      <button><a href="/buy/pickCategory">Buy Goods</a></button>
</div>
              </div>
              <div class="row3">
                  <div class="button">
<button><a href="/sell/postGoods">Sell Goods</a></button>
 </div>
              </div>
          </div>

      </section>
  </body>
