  <h1>Good Goods</h1>
  <h2>The World's Preeminent Market for Buying and Selling Goods</h2>
  <h3>Sell Goods</h3>
  <form action="/sell/postGoods" method="post">
    <div>
        <label>Seller</label>
        <input type="text" name="seller" placeholder="Add Seller Name">
    </div>
    <div>
        <label>Item Name</label>
    <input type="text" name="item" placeholder="Add Item Name">
    </div>
    <div>
        <label>Category</label>
        <input type="text" name="category" placeholder="Add Category">
    </div>
    <div>
        <label>Keyword</label>
        <input type="text" name="keyword" placeholder="Add Keyword">
    </div>
    <div>
        <label>Price</label>
        <input type="number" name="price" placeholder="Add Price in Goodcoin">
    </div>
    <input type="submit" class="" value="Save">
</form>
