<div>
    <label>sample</label>
    <input type="text" name="sample" placeholder="Add Sample Name">
</div>
<div>
    <label>sample2</label>
    <input type="text" name="sample2" placeholder="Add Sample Name">
</div>
