body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(lightpink, red);
  }

a {
  color: #00B7FF;
}

/*index page*/

h4{
    color: white;
    font-size: 35px;
    font-family: arial;
}
h1 {
    color:lightblue;
    font-size:80px;
    font-family: arial;
    text-align: center;
}
h2 {
    font-size: 30px;
    font-family: arial;
    text-align: center;}
h3{
    font-size: 65px;
    font-family: arial;
}
button{
    font-size: 57px;
    margin: 0 auto;
}
/**/
.row{
    width: 1200px;
    height:100px;
    }
.row2{
        width: 1135px;
        height:73px;
        background-color: #999999;
        border: 5px solid black;
        border-radius: 10px;
        float: left;
}
.row3{
        width: 300px;
        height:72px;
        background-color: #999999;
        border: 5px solid black;
        border-radius: 10px;
        float: left;
}
.item{
    width: 49%;
    height: 100%;
    border: 5px solid black;
    border-radius: 10px;
    float: left;
    background: linear-gradient(blue, lightblue);
}
.row5{
    width: 1200px;
    height:100px;
    float: left;
}
.button1{
    width: 25%;
    height: 25%;
    background-color: #999999;
    border: 5px solid black;
    border-radius: 10px;
    float: left;

}
.button2{
    width: 25%;
    height: 25%;
    background-color: #999999;
    border: 5px solid black;
    border-radius: 10px;
    float: right;

}
button3{
    width:20px;
    height: 10px;
    margin: 0 auto;
    margin-top: 100px;
    float: center;
}
button4{
    width:20px;
    height: 30px;
    margin: 0 auto;
    margin-top: 100px;
    float: center;
}
itemLink{
    font-size: 15px;
    font-family: arial;
}
